extends layout

block content
	article.container
		div.item.center
			h1=title
			h2=description
			h3
			br
			-if(error==undefined){
				p= errors
			-}else{
				pre.error.left
					code #{error.stack}
			-}
			a(href="/") Regresar
